@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500&display=swap');

:root {
    --white: rgb(219, 219, 219);
    --blue: #33a5f1;
    --black: black;
    --grey: lightgrey;
    --darkgrey: rgb(139, 139, 139);
}

html,
body {
    margin: 0;
    background: var(--white);
    color: var(--black);
    font-family: 'Wix Madefor Text', sans-serif;
    overscroll-behavior-y: contain;
}

#main {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    gap: 20px;
    margin: auto;
}

.header {
    width: 100%;
    background: var(--black);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pad-10 {
    padding: 10px;
}

.rad-10 {
    border-radius: 10px;
}

.bor-5 {
    border: 5px solid var(--grey);
}

a {
    color: inherit;
    text-decoration: none;
}

.blue {
    background: var(--blue);
}

.input {
    background: transparent;
    outline: none;
    border: 4px solid var(--black);
    color: inherit;
    max-width: 300px;
    font: inherit;
}

.input:focus {
    box-shadow: 5px 5px 10px var(--darkgrey);
}

.bb {
    box-sizing: border-box;
}

.btn {
    outline: none;
    background: var(--blue);
    border: none;
    color: inherit;
    cursor: pointer;
    max-width: 200px;
    font: inherit;
}

.btn:hover {
    background: var(--black);
    color: var(--white);
}

.flex-ver {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-hor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.gap-10 {
    gap: 10px;
}

::placeholder {
    color: var(--darkgrey);
}

.w-100 {
    width: 100%;
}

.logo {
    color: var(--blue);
    font-weight: bold;
}

.received,
.sent {
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
}

.received {
    background: var(--blue);
    color: var(--white);
}

.sent-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.received-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sent {
    border: 2px solid var(--grey);
}

#messages {
    width: 100%;
    animation: ani 1s linear;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

#messages::-webkit-scrollbar {
    display: none;
    appearance: none;
}

#messages>* {
    flex: 0 0 auto;
}

.ani {
    animation: ani 1s linear;
}

@keyframes ani {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.light-text {
    color: var(--white);
}

.mode {
    cursor: pointer;
    color: var(--white);
}

.mode:hover {
    color: var(--darkgrey);
}