{% extends "base.html" %}

{% block body %}
<div>
    <h1>
        Chat with {{ to }}
    </h1>
</div>
<div class="flex-hor gap-10">
    <input autofocus id="msg-input" required minlength="3" class="input pad-10 rad-10 bb" type="text"
        placeholder="message" />
    <button style="pointer-events: none;" id="btn" class="btn pad-10 rad-10 bb" onclick="send()">Send</button>
</div>
<div id="messages" class="pad-10 gap-10 rad-10 bor-5" style="max-width:300px;">
    {% if messages %}
    <div id="first-msg" data-id="{{ messages[0].id }}"></div>
    {% for msg in messages %}
    {% if msg.author.name == user.data.name %}
    <div class="sent-container">
        <div class="sent">
            {{ msg.text }}
        </div>
    </div>
    {% else %}
    <div class="received-container">
        <div class="received">
            {{ msg.text }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div id="first-msg" data-id="0"></div>
    <div id="conversation" style="font-size:large; color:var(--darkgrey);" class="pad-10 bb flex-hor">
        START A CONVERSATION
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    const ws = new WebSocket(`ws://${location.host}/ws`)
    const input = document.querySelector("#msg-input")
    const btn = document.querySelector("#btn")
    const messagesContainer = document.getElementById("messages")
    let canSend = false
    var firstMsg = parseInt(document.getElementById("first-msg").getAttribute("data-id")) | null
    var blockScroll = false

    function scrollToLatest() {
        messagesContainer.scrollBy(0, messagesContainer.scrollHeight)
    }
    scrollToLatest()

    ws.onmessage = event => {
        const container = document.createElement("div")
        container.classList.add("received-container")
        const div = document.createElement("div")
        div.classList.add("received")
        div.classList.add("ani")
        div.textContent = `${event.data}`
        container.append(div)
        messagesContainer.appendChild(container)
        scrollToLatest()
    }

    function checkInputLen() {
        if (input.value.length < 3) {
            canSend = false
            btn.style.pointerEvents = "none"
        } else {
            canSend = true
            btn.style.pointerEvents = "all"
        }
    }


    input.onkeyup = e => {
        if (e.key == "Enter") {
            send()
        }
        checkInputLen()
    }

    function send() {
        if (!canSend) return
        const msg = input.value
        ws.send(JSON.stringify({
            "msg": msg,
            "to": "{{ to }}"
        }))
        try {
            document.querySelector("#conversation").style.display = "none"
        } catch (e) { }
        const container = document.createElement("div")
        container.classList.add("sent-container")
        const div = document.createElement("div")
        div.classList.add("sent")
        div.textContent = `${msg}`
        container.append(div)
        messagesContainer.appendChild(container)
        scrollToLatest()
    }

    function fetchOlderMessages() {
        if (firstMsg == 0) return
        if (blockScroll === true) return
        blockScroll = true
        const fetchMessages = fetch(`/messages?name={{ to }}&id=${firstMsg}`)
        fetchMessages.then((res) => {
            const resjson = res.json()
            resjson.then((j) => {
                const div = document.createElement("div")
                div.style = "display: flex; width: 100%; flex-direction: column-reverse;"
                div.innerHTML = j.html
                messagesContainer.prepend(div)
                firstMsg = parseInt(j.cursor)
                blockScroll = false
            })
        })
    }

    messagesContainer.onwheel = () => {
        if ((messagesContainer.scrollTop == 0)) {
            fetchOlderMessages()
        }
    }

    messagesContainer.ontouchend = (e) => {
        if ((messagesContainer.scrollTop == 0)) {
            fetchOlderMessages()
        }
    }

</script>
{% endblock %}