<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/base.css">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="header">
        <a class="logo bb" href="/">Chat</a>
        <div onclick="mode()" class="mode bb pad-10 rad-10">&#9728;</div>
    </div>
    <div id="main">
        {% block body %}
        {% endblock %}
    </div>

    <script>
        const root = document.querySelector(':root')

        if (localStorage.getItem("darkmode") == "true") {
            changeMode()
        }

        function getVar(x) {
            return getComputedStyle(root).getPropertyValue(x)
        }

        function mode() {
            const pref = localStorage.getItem("darkmode")
            if (pref == "true") {
                localStorage.setItem("darkmode", false)
            } else {
                localStorage.setItem("darkmode", true)
            }
            changeMode()
        }

        function changeMode() {
            const black = getVar("--black")
            const white = getVar("--white")
            root.style.setProperty("--white", black)
            root.style.setProperty("--black", white)
        }
    </script>
</body>

</html>